
body {
     background-color: lightblue;
}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

canvas {

    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
}

#football_body {

    align-items: center;
    text-align: center;
    
}

#back_button {
    float: right;
    border-radius: 15px;
}